<div class="container-fluid navbar">
  <a href="/">
  <img src="http://www.freeiconspng.com/uploads/3d-question-mark-icon-blue-color-picture-6.png">
</a>
</div>


{{outlet}}


<footer>
  <p>Quora-2.0 .2017</p>
</footer>
