<h2> More information about {{model.name}}'s question</h2>

{{update-question questions=model update="update"}}

{{questions-detail questions=model destroyQuestions="destroyQuestions" destroyAnswer="destroyAnswer"}}

{{new-answer saveAnswer="saveAnswer" questions=model}}
